In [ ]:
#Introduction to organising the lists..!

In [1]:
students = ['harish','ram','anjali','kartika','naveen','suresh','vandana','samia']
print(students)

['harish', 'ram', 'anjali', 'kartika', 'naveen', 'suresh', 'vandana', 'samia']

In [ ]:
#req:arrange the list of students in alphabetical order--->A-Z
1.Temporary way---->sorted
2.permanent way---->sort

In [2]:
print(sorted(students))    #temporary way

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [3]:
print(students)           #original list

['harish', 'ram', 'anjali', 'kartika', 'naveen', 'suresh', 'vandana', 'samia']

In [4]:
students.sort()          #permanent way---->cannot go back to original order
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [5]:
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [6]:
#we can know the count by using the len method

In [7]:
len(students)

8

In [ ]:
#Introduction to if-else conditions.
if name is vandana---->total capitals--->all the other name i want to get printed in title case.

In [11]:
for x in students:
    if x == 'vandana':
        print(x.upper())
    else
        print(x.title())

SyntaxError: invalid syntax (<ipython-input-11-4ef2e08e793f>, line 4)

In [13]:
for x in students:
    if x == 'vandana':
        print(x.upper())
    else:
        print(x.title())

Anjali
Harish
Kartika
Naveen
Ram
Samia
Suresh
VANDANA

In [ ]:
#Introduction to slicing of lists

In [14]:
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [ ]:
#2 students of each group iwanted to make!

In [ ]:
#general syntax of a slicing..
#variable[startvalue:stopvalue:stepcount]
#always last value is exclusive

In [15]:
print(students[0:1])

['anjali']

In [16]:
print(students[0:2])    #-1

['anjali', 'harish']

In [17]:
print(students[2:4])

['kartika', 'naveen']

In [18]:
print(students[4:6])

['ram', 'samia']

In [19]:
print(students[6:8])

['suresh', 'vandana']

In [20]:
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [21]:
#req:i want to create a slice ie every alternate student starting from the beginning

In [22]:
print(students[0:8:2])

['anjali', 'kartika', 'ram', 'suresh']

In [23]:
print(students[0:8:3])

['anjali', 'naveen', 'suresh']

In [24]:
#introduction to negative indexing!...0,1,2...

In [25]:
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [26]:
print(students[7])

vandana

In [27]:
print(students[-1])

vandana

In [28]:
print(students[-2])

suresh

In [29]:
#how to reverse a list by using indexing.

In [30]:
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [31]:
print(students[::-1])   #by using the indexing

['vandana', 'suresh', 'samia', 'ram', 'naveen', 'kartika', 'harish', 'anjali']